.LineChart {
	position: relative;
	padding-left: 40px;
	padding-bottom: 40px;
}

svg.chart-layout {
	fill: none;
	stroke: #838383;
	display: block;
	stroke-width: 2px;
}

.radar-axis:hover {
	stroke: #d4380d;
}
